/* Dedicated for Halloween gimmick */

/* By Toffy */

.container {
	z-index: 2;
	position: absolute;
	top: -5%;
	left: 50%;
	margin-left: -20px;
	animation: dropDown 5s ease-in-out forwards;
}

.container::after {
	background: rgba(0, 0, 0, 0.5);
	content: "";
	position: absolute;
	top: -1000px;
	left: 50%;
	margin-left: 9px;
	width: 1px;
	height: 1000px;
}

.container::before {
	background: rgba(0, 0, 0, 1);
	border-radius: 100%;
	color: #fff;
	font-size: 1.3em;
	content: "......";
	position: absolute;
	margin-top: -5px;
	margin-left: -2px;
	width: 25px;
	height: 8px;
}

.left-spy {
	position: absolute;
}

.right-spy {
	position: absolute;
	transform: rotateY(180deg);
}

.leg-one,
.leg-two,
.leg-three,
.leg-four {
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	width: 20px;
	height: 3px;
}

.leg-one>.leg-one,
.leg-two>.leg-two,
.leg-three>.leg-three,
.leg-four>.leg-four {
	transform-origin: 20px top;
	transform: rotate(-80deg) translateX(20px);
	animation: legs 2.5s ease infinite;
}

.leg-one>.leg-one>.leg-one,
.leg-two>.leg-two>.leg-two,
.leg-three>.leg-three>.leg-three,
.leg-four>.leg-four>.leg-four {
	transform-origin: 20px top;
	transform: rotate(10deg) translateX(10px);
	animation: legs 1.5s ease infinite;
}

.right-spy>.leg-two>.leg-two {
	animation-delay: 200ms;
}

.leg-two>.leg-two {
	animation-delay: 400ms;
}

.leg-two>.leg-two>.leg-two {
	animation-delay: 200ms;
}

.right-spy>.leg-three>.leg-three {
	animation-delay: 400ms;
}

.leg-three>.leg-three {
	animation-delay: 600ms;
}

.leg-three>.leg-three>.leg-three {
	animation-delay: 300ms;
}

.right-spy>.leg-four>.leg-four {
	animation-delay: 100ms;
}

.leg-four>.leg-four {
	animation-delay: 800ms;
}

.leg-four>.leg-four>.leg-four {
	animation-delay: 400ms;
}

@keyframes legs {
	50% {
		transform: rotate(55deg) translateX(20px);
	}
}

@keyframes dropDown {
	30% {
		top: 30%;
	}

	100% {
		top: -10%;
	}
}