/*
	Use kebab case (something-like-this) for class names and ids in CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
	font-family: 'Prompt', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	overflow-x: hidden;
}

section {
	height: 100vh;
	display: flex;
}


#panel {
	position: absolute;

	/* top: 1rem; */
	/* right: 1rem; */
	right: -17px;

	max-height: 100vh;
	padding: 1.6rem;

	background-color: #ffffff33;
	backdrop-filter: blur(50px);

	border-radius: 10px;
	overflow-y: scroll;
}

#panel>ul {
	list-style: none;
}

#panel #edge {
	position: absolute;

	left: 0rem;
	/* bottom: 0; */

	width: 100%;
	height: 3rem;

	/* background-color: black; */

	backdrop-filter: blur(100px);
}

/* #panel:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 4em;
	pointer-events: none;
	background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
	width: 100%;
} */

#panel li {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 1.6rem;
	cursor: pointer;
}

#panel li:last-child {
	margin-bottom: 0;
}

#panel li p {
	opacity: 0;

	z-index: 100;
	position: absolute;

	width: 100px;

	font-weight: medium;
	text-align: center;
	color: white;

	overflow-wrap: break-word;
}

#panel li:hover p {
	opacity: 1;
}

#panel li img {
	transition: 250ms;
}

#panel li:hover img {
	filter: brightness(0.3);
}

#panel img {
	border-radius: 10px;
}


#cover {
	width: 100vw;
	min-height: 100vh;

	/* background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/01.png');
	background-size: cover; */
	/* background-position: center; */
	overflow: hidden;
	/*  hide scrollbars */

	/* opacity: 1.0;
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear; */
}

#large-box {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */

	width: 100vw;
}

#content-box {
	display: flex;
	justify-content: space-around;
	align-items: center;

	flex-wrap: wrap;

	width: 100vw;
	height: 100vh;
}

#title-holder {
	position: absolute;
	/* align-self: flex-start; */
	margin: 3rem;
}

#title-holder h2 {
	position: absolute;

	width: 50ch;

	padding: 1rem 2rem;
	/* background-color: black; */

	font-size: 3rem;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

#description-holder {
	position: relative;

	min-width: 500px;
	min-height: 326px;
	margin-right: 50px;
	/* min-height: 500px; */
}

#description-holder p {
	position: absolute;
	/* max-width: 50vmin; */
	width: 100%;

	font-size: 21px;
	/* text-align: justify; */
	color: white;

	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);

}

#description-holder p span {
	display: block;

	margin-bottom: 1rem;

	font-weight: bold;
	color: #94a3b8;
}

#icon-holder {
	position: relative;

	width: 326px;
	height: 326px;
}

#icon-holder img {
	position: absolute;
	border: 4px solid rgb(184, 119, 0);
	border-radius: 10px;
	box-shadow: 0px 0px 20px #00000088;
}


.wallpaper {
	position: absolute;
	height: 100vh;
	width: 100vw;

	background-size: cover;
	background-position: center;


	/* background-color: black; */
	transition: opacity 1s;
	/* transition-delay: 1s; */
}

.wallpaper.front {
	/* opacity: 1; */
	background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/01.png');
	z-index: -1;
}

.wallpaper.back {
	/* background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/02.png'); */
	z-index: -2;
}

.hidden {
	opacity: 0;
}

/* .container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
} */







/* 
	Animation/Transition Helper (Omsin)
	without "active" means "hidden"
*/
.up {
	transform: translateY(-500vh);
	transition: transform 1s ease-in-out;
}

.up.active {
	transform: translateY(0);
}

.left {
	transform: translateX(-500vw);
	transition: transform 1s ease-in-out;
	transition-delay: 200ms;
}

.left.active {
	transform: translateX(0);
}

.right {
	transform: translateX(500vw);
	transition: transform 1s ease-in-out;
	transition-delay: 200ms;
}

.right.active {
	transform: translateX(0);
}

/* ----------------------------------- */

.one {
	background-color: black;
	height: 30vh;
	font-size: 300%;
	justify-content: center;
	align-items: center;
	color: white
}

.two {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bedwars/bedwars_04.png);
	background-position: center;
	background-size: cover;
}

.three {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/freecity/freecity_01.png);
	background-position: center;
	background-size: cover;
}

.four {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/frontline/frontline_01.jpg);
	background-size: cover;
}

.five {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/partystreet/partystreet_07.png);
	background-position: center;
	background-size: cover;
}

.six {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bulletsfly/bulletsfly_01.png);
	background-position: center;
	background-size: cover;
}

.seven {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/rodentevil/rodentevil_03.png);
	background-position: center;
}

.eight {
	background-image: url(https://pbs.twimg.com/media/EigSnSqU0AAY--s.jpg);
	background-position: center;
	background-size: cover;
}

.nine {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/buildandshoot/buildandshoot_01.jpg);
	background-position: center;
	background-size: cover;
}

.ten {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/skyblock/skyblock_01.png);
	background-position: center;
	background-size: cover;
}

.eleven {
	background-image: url(https://i.ytimg.com/vi/KjgtSJ3msRs/maxresdefault.jpg);
	background-position: center;
	background-size: cover;
}

.twelve {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/district13/district13_04.png);
	background-position: center;
	background-size: cover;
}

.thirteen {
	background-image: url(https://i.ytimg.com/vi/lpGBmYdfxXM/maxresdefault.jpg);
	background-position: center;
	background-size: cover;
}


.right_GameName {
	margin-top: 100px;
	text-align: center;
	font-size: xx-large;
	background-color: lightcoral;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

.left_GameName {
	margin-top: 100px;
	text-align: center;
	font-size: xx-large;
	background-color: lightgreen;
	padding: 10px;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.left_logopic {
	float: right;
	margin-left: 60px;
	margin-top: 110px;
	border-radius: 20px;
}

/* .panel ul {} */
.right_logopic {
	float: right;
	margin-right: 60px;
	margin-top: 110px;
	border-radius: 20px;
}

.right_text {
	float: right;
	margin-left: 50px;
	margin-top: 30px;
	margin-right: 50px;
	text-align: left;
	font-size: x-large;
	line-height: 35px;
	background-color: lightblue;
	padding: 20px;
	border-radius: 20px;
}

.left_text {
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
	text-align: left;
	font-size: x-large;
	line-height: 35px;
	background-color: lightsalmon;
	padding: 20px;
	border-radius: 20px;
}