/*
	Use kebab case (something-like-this) for class names and ids in CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
	font-family: 'Prompt', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	overflow-x: hidden;
}

section {
	height: 100vh;
	display: flex;
}


#panel {
	position: absolute;

	top: 1rem;
	right: 1rem;
	right: -17px;

	max-height: 50vh;
	padding: 1.6rem;

	background-color: #1e293b88;
	backdrop-filter: blur(50px);

	border-radius: 10px;
	overflow-y: scroll;
}

#panel>ul {
	list-style: none;
}

#panel #edge {
	position: absolute;

	left: 0rem;
	/* bottom: 0; */

	width: 100%;
	height: 3rem;

	/* background-color: black; */

	backdrop-filter: blur(100px);
}

/* #panel:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;

	height: 4em;
	pointer-events: none;

	background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
	width: 100%;
} */

#panel li {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 1.6rem;
	cursor: pointer;
}

#panel li:last-child {
	margin-bottom: 0;
}

#panel li p {
	opacity: 0;

	z-index: 100;
	position: absolute;

	width: 100px;

	font-weight: medium;
	text-align: center;
	color: white;

	overflow-wrap: break-word;
}

#panel li:hover p {
	opacity: 1;
}

#panel li img {
	transition: 250ms;
}

#panel li:hover img {
	filter: brightness(0.3);
}

#panel img {
	border-radius: 10px;
}


#cover {
	min-height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	/* background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/02.png'); */
	background-size: cover;
	background-position: center;
}

/* .container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
} */




#title-holder {
	align-self: flex-start;
	margin: 3rem;
}

#title-holder h2 {
	position: absolute;

	padding: 1rem 2rem;
	background-color: black;

	font-size: xx-large;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

#description-holder p {
	position: absolute;
	max-width: 50vmin;

	font-size: large;
}


/* 
	Animation/Transition Helper (Omsin)
	without "active" means "hidden"
*/
.up {
	transform: translateY(-500vh);
	transition: transform 1s ease-in-out;
}

.up.active {
	transform: translateY(0);
}

.left {
	transform: translateX(-500vw);
	transition: transform 1s ease-in-out;
	transition-delay: 200ms;
}

.left.active {
	transform: translateX(0);
}

.right {
	transform: translateX(500vw);
	transition: transform 1s ease-in-out;
	transition-delay: 200ms;
}

.right.active {
	transform: translateX(0);
}

/* ----------------------------------- */

.one {
	background-color: black;
	height: 30vh;
	font-size: 300%;
	justify-content: center;
	align-items: center;
	color: white
}

.two {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bedwars/bedwars_04.png);
	background-position: center;
	background-size: cover;
}

.three {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/freecity/freecity_01.png);
	background-position: center;
	background-size: cover;
}

.four {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/frontline/frontline_01.jpg);
	background-size: cover;
}

.five {
	background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/partystreet/partystreet_07.png);
	background-position: center;
	background-size: cover;
}

.right_GameName {
	margin-top: 100px;
	text-align: center;
	font-size: xx-large;
	background-color: lightcoral;
	padding: 20px;
	border-radius: 20px;
}

.left_GameName {
	margin-top: 100px;
	text-align: center;
	font-size: xx-large;
	background-color: lightgreen;
	padding: 20px;
	border-radius: 20px;
}

.left_logopic {
	float: right;
	margin-left: 60px;
	margin-top: 110px;
	border-radius: 20px;
}

/* .panel ul {} */
.right_logopic {
	float: right;
	margin-right: 60px;
	margin-top: 110px;
	border-radius: 20px;
}

.right_text {
	float: right;
	margin-left: 50px;
	margin-top: 30px;
	margin-right: 50px;
	text-align: left;
	font-size: x-large;
	line-height: 35px;
	background-color: lightblue;
	padding: 20px;
	border-radius: 20px;
}

.left_text {
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
	text-align: left;
	font-size: x-large;
	line-height: 35px;
	background-color: lightsalmon;
	padding: 20px;
	border-radius: 20px;
}