* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
	height: 100vh;
	display: flex;
	scroll-snap-align: start;
}

.container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

.one {
	background-color: black;
	height: 30vh;
	font-size: 300%;
	justify-content: center;
	align-items: center;
	color: white
}

.two {
	background-color: aquamarine;
	color: black;
}

.three {
	background-color: blanchedalmond;
}

.four {
	background-color: blueviolet;
}

.five {
	background-color: brown;
}

.game-name {
	float: right;
	margin-left: 500px;
	margin-top: 100px;
}

.Bedwarpic {
	float: right;
	margin-left: 60px;
	margin-top: 110px;
}

/* Omsin */
.panel {
	position: absolute;

	top: 3rem;
	right: 3rem;
}

/* .panel ul {} */