* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
	height: 100vh;
	display: flex;
}

/* Omsin */
#cover {
	min-height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#cover {
	background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/01.png');
	background-size: cover;
	background-position: center;
}

#panel {
	position: absolute;

	top: 1rem;
	right: 1rem;
	/* right: -17px; */

	max-height: 50vh;
	padding: 1.6rem;

	background-color: #ffffff55;
	backdrop-filter: blur(50px);

	border-radius: 10px;
	overflow-y: scroll;
}

#panel>ul {
	list-style: none;
}

#panel #edge {
	position: absolute;

	left: 0rem;
	/* bottom: 0; */

	width: 100%;
	height: 3rem;

	/* background-color: black; */

	backdrop-filter: blur(100px);
}

/* #panel:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;

	height: 4em;
	pointer-events: none;

	background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
	width: 100%;
} */

#panel li {
	margin-bottom: 1.6rem;
}

#panel li:last-child {
	margin-bottom: 0;
}

#panel img {
	border-radius: 10px;
}



/* .container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
} */

.one {
	background-color: black;
	height: 30vh;
	font-size: 300%;
	justify-content: center;
	align-items: center;
	color: white
}

.two {
	background-color: aquamarine;
	color: black;
}

.three {
	background-color: blanchedalmond;
}

.four {
	background-color: lightblue
}

.five {
	background-color: pink
}

.right_GameName {
	margin-top: 100px;
	text-align: center;
	font-size: xx-large;
}

.left_GameName {
	margin-top: 100px;
	text-align: center;
	font-size: xx-large;
}

.left_logopic {
	float: right;
	margin-left: 60px;
	margin-top: 110px;
}

/* .panel ul {} */
.right_logopic {
	float: right;
	margin-right: 60px;
	margin-top: 110px;
}

.right_text {
	float: right;
	margin-left: 50px;
	margin-top: 30px;
	margin-right: 50px;
	text-align: left;
	font-size: x-large;
}

.left_text {
	float: left;
	margin-right: 50px;
	margin-left: 100px;
	margin-top: 30px;
	text-align: left;
	font-size: x-large;
}